<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="input-login">Email</label>
		<div class="controls">
			<input type="text" id="input-login" placeholder="Login">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="input-password">Password</label>
		<div class="controls">
			<input type="password" id="input-password" placeholder="Password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox"> Remember me
			</label>
			<button type="submit" class="btn btn-primary">Sign in</button>
			<span>or</span>
			<a class="btn">Register</a>
		</div>
	</div>
</form>