<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="username">Username</label>

		<div class="controls">
			<input type="password" id="username" placeholder="Username">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="password">Password</label>

		<div class="controls">
			<input type="password" id="password" placeholder="New password">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="rep-password">Retype password</label>

		<div class="controls">
			<input type="password" id="rep-password" placeholder="Retype password">
		</div>

	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
	</div>
</form>