<h3>Change password</h3>

<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="old-password">Old password</label>

		<div class="controls">
			<input type="password" id="old-password" placeholder="Old password">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="new-password">New password</label>

		<div class="controls">
			<input type="password" id="new-password" placeholder="New password">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="rep-new-password">Retype password</label>

		<div class="controls">
			<input type="password" id="rep-new-password" placeholder="Retype password">
		</div>

	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Change</button>
		</div>
	</div>
</form>