<!DOCTYPE html>
<html data-ng-app="coreModule">
<head>
	<title>Link Transferring System</title>
	<script src="../lib/angular/angular.js"></script>
	<script src="js/modules/coreModule.js"></script>
	<script src="js/modules/dataAccessModule.js"></script>
</head>
<body data-ng-controller="testController">

<div>
	<span>name:</span>
	<input type="text" data-ng-model="newLink.name"/>

	<span>href:</span>
	<input type="text" data-ng-model="newLink.href"/>

	<button data-ng-click="addLink()">Add</button>

	<ul>
		<li data-ng-repeat="link in links">
			<a href="{{link.href}}">{{link.name}}</a>
		</li>
	</ul>
</div>

</body>
</html>